.Challenge {
  width: fit-content;
  margin: 6px 6px 12px 0px;
  padding: 12px;
  background-image: linear-gradient(176deg, rgb(243, 62, 30),rgb(159, 0, 165));
  color: rgb(255, 255, 255);
  border-radius: 3px;
}

.ChallengeH3 {
  font-size: 18px;
  padding-top: 10;
  padding-bottom: 4;
  color: rgba(255, 255, 255, .6);
  font-weight: 400;
}