body {
  margin: 0;
}

body * {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Montserrat', sans-serif;
}

button {
  width: 260px;
  height: 46px;
  margin: 6px;
  border: none;
  transition: 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  cursor: pointer;
  font-size: 20px;
  color: rgb(74, 13, 117);
  box-shadow: 1px 1px 3px rgb(159, 158, 158);
  border-radius: 30px;
  border: 1px solid rgb(74, 13, 117);;
}

button:focus {
  outline: none !important;
}

button:active {
  transform: scale(0.98);
  outline: none !important;
  box-shadow: none;
}

h1 {
  padding-bottom: 18px;
  font-size: 26px;
  color: rgb(75, 75, 75);
}


h2 {
  padding: 18px;
  font-size: 18px;
  color: rgb(75, 75, 75);
  font-weight: 500;
}

p {
  padding: 16px 0px 4px 4px;
  font-size: 16px;
  color: rgb(75, 75, 75);
}